
<p>Vratimo se na trenutak prvom primjeru gdje smo razmatrali digitalni sklop koji je na ulazu dobivao dva broja (<i>a</i> i <i>b</i>) a na izlazu (<i>y</i>) generirao vrijednost 1 ako je njihov zbroj paran a 0 inače. Kako je <i>a</i> mogao poprimati vrijednosti iz skupa {0, 1, 2, 3} a <i>b</i> vrijednosti iz skupa {0, 1}, <i>a</i> smo kodirali prirodnim binarnim kodom i radili s ulazima <i>a</i><sub>1</sub>, <i>a</i><sub>0</sub> i <i>b</i>. Sučelje tog digitalnog sklopa bilo je kao na slici u nastavku.</p>

<figure class="mlFigure">
<img src="@#file#(parnasuma2.svg)" alt="Prikaz sučelja digitalnog sklopa. Svi ulazi i izlazi su binarni podatci." border="0">
<figcaption>Prikaz sučelja digitalnog sklopa. Svi ulazi i izlazi su binarni podatci.</figcaption>
</figure>

<p>Tablica istinitosti koju smo izgradili bila je sljedeća.</p>

<div class="mlTableCaption"><span class="mlTblKey">Tablica 1.</span> Tablica istinitosti funkcije \(y(a_1,a_0,b)\).</div>
<table class="mlTableCC mlTableVRl1">
<thead><tr><th>\(a_1\)</th><th>\(a_0\)</th><th>\(b\)</th><th>\(y(a_1,a_0,b)\)</th></tr></thead>
<tbody>
<tr><td>0</td><td>0</td><td>0</td><td>1</td></tr>
<tr><td>0</td><td>0</td><td>1</td><td>0</td></tr>
<tr><td>0</td><td>1</td><td>0</td><td>0</td></tr>
<tr><td>0</td><td>1</td><td>1</td><td>1</td></tr>
<tr><td>1</td><td>0</td><td>0</td><td>1</td></tr>
<tr><td>1</td><td>0</td><td>1</td><td>0</td></tr>
<tr><td>1</td><td>1</td><td>0</td><td>0</td></tr>
<tr><td>1</td><td>1</td><td>1</td><td>1</td></tr>
</tbody>
</table>

<p>Kako izgleda tablica istinitosti ove funkcije ako varijable navedemo nekim drugim redoslijedom? Evo jedne mogućnosti u nastavku.</p>

<div class="mlTableCaption"><span class="mlTblKey">Tablica 2.</span> Tablica istinitosti funkcije \(y(b,a_1,a_0)\).</div>
<table class="mlTableCC mlTableVRl1">
<thead><tr><th>\(b\)</th><th>\(a_1\)</th><th>\(a_0\)</th><th>\(y(b,a_1,a_0)\)</th></tr></thead>
<tbody>
<tr><td>0</td><td>0</td><td>0</td><td>1</td></tr>
<tr><td>0</td><td>0</td><td>1</td><td>0</td></tr>
<tr><td>0</td><td>1</td><td>0</td><td>1</td></tr>
<tr><td>0</td><td>1</td><td>1</td><td>0</td></tr>
<tr><td>1</td><td>0</td><td>0</td><td>0</td></tr>
<tr><td>1</td><td>0</td><td>1</td><td>1</td></tr>
<tr><td>1</td><td>1</td><td>0</td><td>0</td></tr>
<tr><td>1</td><td>1</td><td>1</td><td>1</td></tr>
</tbody>
</table>

<p>Uvjerite se da je i dalje sve ispravno. Recimo, pogledajte redak u kojem su ulazi \((b,a_1,a_0)=(0,1,0)\). U tom retku, \(b=0\) a \((a_1,a_0)=(1,0)\) čime je <i>a</i>=2. Njihov zbroj je 0+2=2, što je paran broj pa izlaz treba biti 1, baš kao što je i napisan.</p>

<p>Pogledajmo još jednu mogućnost. Primjerice, sljedeću tablicu.</p>

<div class="mlTableCaption"><span class="mlTblKey">Tablica 3.</span> Tablica istinitosti funkcije \(y(b,a_0,a_1)\).</div>
<table class="mlTableCC mlTableVRl1">
<thead><tr><th>\(b\)</th><th>\(a_0\)</th><th>\(a_1\)</th><th>\(y(b,a_0,a_1)\)</th></tr></thead>
<tbody>
<tr><td>0</td><td>0</td><td>0</td><td>1</td></tr>
<tr><td>0</td><td>0</td><td>1</td><td>1</td></tr>
<tr><td>0</td><td>1</td><td>0</td><td>0</td></tr>
<tr><td>0</td><td>1</td><td>1</td><td>0</td></tr>
<tr><td>1</td><td>0</td><td>0</td><td>0</td></tr>
<tr><td>1</td><td>0</td><td>1</td><td>0</td></tr>
<tr><td>1</td><td>1</td><td>0</td><td>1</td></tr>
<tr><td>1</td><td>1</td><td>1</td><td>1</td></tr>
</tbody>
</table>

<p>Gledajući samo posljednji stupac u sve tri tablice, mogli bismo pomisliti da se radi o tri različite Booleove funkcije. No to nije slučaj: vizualni "izgled" posljednjeg stupca ovisi o poretku kojim smo pisali varijable u tablici istinitosti. Imamo li Booleovu funkciju od <i>k</i> varijabli, broj potencijalno različitih tablica istinitosti koje je prikazuju je <i>k</i>!, što je u našem slučaju 3! odnosno 6. Dakako, kod neke općenite Booleove funkcije neke od tih tablica mogu imati jednaki posljednji stupac.</p>

<div class="mlImportant">
<p>Tablični prikaz Booleove funkcije često se u praksi koristi kao polazna točka za mnoge postupke. Određeni postupci čak će umjesto nad tablicom istinitosti izravno raditi s rednim brojevima redaka u kojima funkcija poprima određenu vrijednost. U takvim situacijama od presudne će biti važnosti znati kakav je podrazumijevani redoslijed varijabli koji je korišten pri nastanku tablice istinitosti.</p>
<p>Iz tog razloga, često ćemo uz Booleovu funkciju eksplicitno pisati i poredak varijabli u zagradama, što smo već vidjeli: pisali smo \(y(a_1,a_0,b)\). Tako specificiranoj Booleovoj funkciji podrazumijevat ćemo da je pridružena tablica istinitosti koja u prvom stupcu ima varijablu \(a_1\), u drugom varijablu \(a_0\) a u trećem varijablu \(b\). Nemojte odstupati od tog pravila!</p>
</div>






